.home-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.display-3{
  text-align: center;
  font-family: Apple Chancery, cursive;
}
.lead{
  text-align: center;
  font-family: Apple Chancery, cursive;
}

.footers{
  text-align: right;
  font-family: Apple Chancery, cursive;
}