.home-pic{
  width: 100%;
  height: auto;
}

.display-3{
  text-align: center;
  font-family: Apple Chancery, cursive;
}
.lead{
  text-align: center;
  font-family: Apple Chancery, cursive;
}

.footer{
  text-align: right;
  font-family: Apple Chancery, cursive;
}